.divLogin {
    display: block;
    width: 300px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.formLogin {
    text-align: right;
}

.formLogin div {
    width: 100%;
    margin-top: 1.1em;
    margin-bottom: 0.5em;
}